<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>vessel</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.vesselhealth.vessel-ios</string>
			</array>
		</dict>
	</array>
	<key>FirebaseDeepLinkPasteboardRetrievalEnabled</key>
	<true/>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://vesselhealth.page.link/takeTest</string>
		<string>https://vesselhealth.page.link/results</string>
		<string>https://vesselhealth.page.link/coach</string>
		<string>https://vesselhealth.page.link/today</string>
		<string>vessel://takeTest</string>
		<string>vessel://results</string>
		<string>vessel://coach</string>
		<string>vessel://today</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>Pushwoosh_APPID</key>
	<string>92DB1-1AC9D</string>
	<key>Pushwoosh_LOG_LEVEL</key>
	<string>VERBOSE</string>
	<key>UIAppFonts</key>
	<array>
		<string>BananaGrotesk-Thin.otf</string>
		<string>BananaGrotesk-Semibold.otf</string>
		<string>BananaGrotesk-Regular.otf</string>
		<string>BananaGrotesk-Medium.otf</string>
		<string>BananaGrotesk-Light.otf</string>
		<string>BananaGrotesk-Extralight.otf</string>
		<string>BananaGrotesk-Extrabold.otf</string>
		<string>BananaGrotesk-Bold.otf</string>
		<string>NoeText.otf</string>
		<string>NoeText-Book.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Login</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>remote-notifications</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
